---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="app-blurb">
    <h2 itemprop="name">Waka</h2>
    <p itemprop="description">Your realtime guide to public transport in New Zealand.</p>
    <a itemprop="url" class="dymajo-button" href="https://waka.app">Explore Waka</a>
  </div>

  <div class="app-blurb">
    <h2 itemprop="name">Nitro</h2>
    <p itemprop="description">The beautiful way to get things done. Coming soon.</p>
    <a itemprop="url" class="dymajo-button" href="https://nitrotasks.com">Sign up for Beta Access</a>
  </div>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
